/* @group Aggregator */

.aggregator .feed-icon {
  float: left;
}

/* @end */

/* @group Book */

.book-pager .previous {
  float: right;
  text-align: right;
}
.book-pager .next {
  float: left;
  text-align: left;
}

/* @end */

/* @group Color */
/* @end */

/* @group Comment */

.indented {
  margin-left: 0;
  margin-right: 25px;
}

/* @end */

/* @group Contextual */

div.contextual-links-wrapper {
  left: 5px;
  right: auto;
}
div.contextual-links-wrapper ul.contextual-links {
  -moz-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
  left: 0;
  right: auto;
}
a.contextual-links-trigger {
  text-indent: -90px;
}

/* @end */

/* @group Dashboard */
/* @end */

/* @group dblog */
/* @end */

/* @group Field */

form .field-multiple-table th.field-label {
  padding-right: 0;
}
form .field-multiple-table td.field-multiple-drag {
  padding-left: 0;
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle{
  padding-left: .5em;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  float: right;
}

/* @end */

/* @group field_ui */
/* @end */

/* @group file */
/* @end */

/* @group filter */
/* @end */

/* @group forum */

#forum td.forum .icon {
  float: right;
  margin: 0 0 0 9px;
}
.forum-topic-navigation {
  padding: 1em 3em 0 0;
}
.forum-topic-navigation .topic-previous {
  text-align: left;
  float: right;
}
.forum-topic-navigation .topic-next {
  text-align: right;
  float: left;
}

/* @end */

/* @group help */

.help-items {
  float: right;
  padding-right: 0;
  padding-left: 3%;
}
.help-items-last {
  padding-right: 0;
  padding-left: 0;
}

/* @end */

/* @group image */

div.image-preview {
  float: right;
  padding: 0 0 10px 10px;
}
div.image-widget-data {
  float: right;
}

/* @end */

/* @group locale */

#locale-translation-filter-form .form-item-language,
#locale-translation-filter-form .form-item-translation,
#locale-translation-filter-form .form-item-group {
  float: right;
  padding-left: .8em;
  padding-right: 0;
}
#locale-translation-filter-form .form-actions {
  float: right;
  padding: 3ex 1em 0 0;
}

/* @end */

/* @group menu */
/* @end */

/* @group node */
/* @end */

/* @group openid */

#edit-openid-identifier {
  background-position: right 50%;
  padding-left: 0;
  padding-right: 20px;
}
#user-login .openid-links {
  padding-right: 0;
}
.js #user-login-form li.openid-link,
.js #user-login li.openid-link {
  margin-right: 0;
}
#user-login-form li.openid-link a,
#user-login li.openid-link a {
  background-position: right top;
  padding: 0 1.5em 0 0;
}

/* @end */

/* @group overlay */
/* @end */

/* @group poll */

.poll .bar .foreground {
  float: right;
}
.poll .percent {
  text-align: left;
}
.poll .vote-form {
  text-align: right;
}

/* @end */

/* @group rdf */
/* @end */

/* @group search */
/* @end */

/* @group shortcut */

#toolbar #edit-shortcuts {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 5px 5px 10px;
}
#toolbar .toolbar-shortcuts ul {
  float: none;
  margin-right: 5px;
  margin-left: 10em;
}
#toolbar .toolbar-shortcuts ul li a {
  margin-left: 5px;
  margin-right: 0;
  padding: 0 5px;
}
#toolbar .toolbar-shortcuts span.icon {
  float: right;
}
.add-or-remove-shortcuts a span.icon {
  float: right;
  margin-right: 8px;
  margin-left: 0;
}
.add-or-remove-shortcuts a span.text {
  float: right;
  padding-right: 10px;
  padding-left: 0;
}
.add-or-remove-shortcuts a:focus span.text,
.add-or-remove-shortcuts a:hover span.text {
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  padding-left: 6px;
}
#shortcut-set-switch .form-item-new {
  padding-right: 17px;
  padding-left: 0;
}
.add-shortcut a:hover span.icon {
  background-position: 0 -24px;
}
.remove-shortcut a:hover span.icon {
  background-position: -12px -24px;
}

/* @end */

/* @group simpletest */
/* @end */

/* @group statistics */
/* @end */

/* @group syslog */
/* @end */

/* @group system - base */

/**
 * Autocomplete.
 */
/* Animated throbber */
.js input.form-autocomplete {
  background-position: 0% 2px;
}
.js input.throbbing {
  background-position: 0% -18px;
}

/**
 * Progress bar.
 */
.progress .percentage {
  float: left;
}
.progress-disabled {
  float: right;
}
.ajax-progress {
  float: right;
}

/**
 * TableDrag behavior.
 */
.draggable a.tabledrag-handle {
  float: right;
  margin: -0.4em -0.5em -0.4em 0;
  padding: 0.42em 0.5em 0.42em 1.5em;
}
div.indentation {
  float: right;
  margin: -0.4em -0.4em -0.4em 0.2em;
  padding: 0.42em 0.6em 0.42em 0;
}
div.tree-child,
div.tree-child-last {
  background-position: -65px center;
}
.tabledrag-toggle-weight-wrapper {
  text-align: left;
}

/* @end */

/* @group system - theme */

/**
 * @file
 * RTL styles for common markup.
 */

/**
 * HTML elements.
 */
th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Markup generated by theme_item_list().
 */
.item-list ul li {
  margin: 0 1.5em 0.25em 0;
}

/**
 * Markup generated by theme_more_link().
 */
.more-link {
  text-align: left;
}

/**
 * Markup generated by theme_more_help_link().
 */
.more-help-link {
  text-align: left;
}
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Collapsible fieldsets.
 */
.js fieldset.collapsible > legend .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
.js fieldset.collapsed > legend .fieldset-legend {
  background-image: url(../../misc/menu-collapsed-rtl.png);
  background-position: 98% 50%;
}

/**
 * RTL styles for menus and navigation markup.
 */

ul.menu {
  text-align:right;
}
ul.menu li {
  margin: 0 0.5em 0 0;
}
ul li.collapsed {
  list-style-image: url(../../misc/menu-collapsed-rtl.png);
}
li.expanded,
li.collapsed,
li.leaf {
  padding: 0.2em 0 0 0.5em;
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
ul.primary {
  padding: 0 1em 0 0;
}
ul.primary li a {
  margin-right: 5px;
  margin-left: 0.5em;
}
ul.secondary li {
  border-left: 1px solid #ccc;
  border-right: none;
  display: inline;
  padding: 0 1em;
}

/**
 * RTL Styles for system messages.
 */

div.messages {
  background-position: 99% 8px;
  padding: 10px 50px 10px 10px;
}
div.messages ul {
  margin: 0 1em 0 0;
}

/* @end */

/* @group system - maintenance */
/* @end */

/* @group toolbar */

#toolbar,
#toolbar * {
  text-align: right;
}
#toolbar ul li {
  float: right;
}
#toolbar ul li a {
  display: inline-block;
  float: none;
  zoom: 1;
}
#toolbar div.toolbar-menu {
  padding: 5px 50px 5px 50px;
}
#toolbar-user {
  float: left;
}
#toolbar ul#toolbar-user li {
  float: none;
  display: inline;
}
#toolbar-menu {
  float: none;
}
#toolbar-home {
  float: right;
}
#toolbar ul li.home a {
  position: absolute;
  right: 10px;
}
#toolbar div.toolbar-menu a.toggle {
  left: 10px;
  right: auto;
}

/* @end */

/* @group update */
/* @end */

/* @group user */

#permissions td.permission {
  padding-left: 0;
  padding-right: 1.5em;
}

#user-admin-roles .form-item-name {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}

/**
 * Password strength indicator.
 */
.password-strength {
  float: left;
}
.password-strength-text {
  float: left;
}
div.password-confirm {
  float: left;
}
.confirm-parent,
.password-parent {
  clear: right;
}

/* Generated by user.module but used by profile.module: */
.profile .user-picture {
  float: left;
  margin: 0 0 1em 1em;
}

/* @end */