/* @group Aggregator */
/* @end */

/* @group Block */

#blocks tr.region-title td {
  font-weight: bold;
}
#blocks tr.region-message {
  font-weight: normal;
  color: #999;
}
#blocks tr.region-populated {
  display: none;
}
.block-region {
  background-color: #ff6;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}
a.block-demo-backlink,
a.block-demo-backlink:link,
a.block-demo-backlink:visited {
  background-color: #B4D7F0;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  color: #000;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: small;
  line-height: 20px;
  left: 20px; /*LTR*/
  padding: 5px 10px;
  position: fixed;
  z-index: 499;
}
a.block-demo-backlink:hover {
  text-decoration: underline;
}

/* @end */

/* @group Book */

.js #edit-book-pick-book {
  display: none;
}

/* @end */

/* @group Color */

/* Farbtastic placement */
.color-form {
  max-width: 50em;
  position: relative;
}
#placeholder {
  position: absolute;
  top: 0;
  right: 0; /* LTR */
}

/* Palette */
.color-form .form-item {
  height: 2em;
  line-height: 2em;
  padding-left: 1em; /* LTR */
  margin: 0.5em 0;
}
.color-form label {
  float: left; /* LTR */
  clear: left; /* LTR */
  width: 10em;
}
.color-form .form-text,
.color-form .form-select {
  float: left; /* LTR */
}
.color-form .form-text {
  text-align: center;
  margin-right: 5px; /* LTR */
  cursor: pointer;
}

#palette .hook {
  float: left; /* LTR */
  margin-top: 3px;
  width: 16px;
  height: 16px;
}
#palette .down,
#palette .up,
#palette .both {
  background: url(images/hook.png) no-repeat 100% 0; /* LTR */
}
#palette .up {
  background-position: 100% -27px; /* LTR */
}
#palette .both {
  background-position: 100% -54px; /* LTR */
}

#palette .lock {
  float: left; /* LTR */
  position: relative;
  top: -1.4em;
  left: -10px; /* LTR */
  width: 20px;
  height: 25px;
  background: url(images/lock.png) no-repeat 50% 2px;
  cursor: pointer;
}
#palette .unlocked {
  background-position: 50% -22px;
}
#palette .form-item {
  width: 20em;
}
#palette .item-selected {
  background: #eee;
}

/* Preview */
#preview {
  display: none;
}
.js #preview {
  display: block;
  position: relative;
  float: left; /* LTR */
}

/* @end */

/* @group Dashboard */

#dashboard div.dashboard-region {
  float: left;
  min-height: 1px;
}
#dashboard div#dashboard_main {
  margin-right: 1%; /* LTR */
  width: 65%;
}
#dashboard div#dashboard_sidebar {
  width: 33%;
}
#dashboard div.block {
  margin-bottom: 20px;
}
#dashboard .dashboard-region .block {
  clear: both;
}
#dashboard .dashboard-region .block-placeholder {
  display: block;
  height: 1.6em;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
}
#dashboard div.block h2 {
  float: none;
}
#dashboard #disabled-blocks .block,
#dashboard .block-placeholder {
  background: #E2E1DC;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left; /* LTR */
  margin: 3px 3px 3px 0; /* LTR */
  padding: 6px 4px 6px 8px; /* LTR */
}
#dashboard .dashboard-add-other-blocks {
  margin: 10px 0 0 0;
}
#dashboard .ui-sortable {
  border: 2px dashed #CCC;
  padding: 10px;
}
#dashboard .canvas-content {
  padding: 10px;
}
#dashboard .canvas-content a.button {
  color: #5A5A5A;
  margin: 0 0 0 10px; /* LTR */
  text-decoration: none;
}
#dashboard .region {
  margin: 5px;
}
#dashboard #disabled-blocks {
  padding: 5px 0;
}
#dashboard #disabled-blocks .ui-sortable {
  background-color: #777;
  border: 0;
  padding: 0;
}
#dashboard #disabled-blocks .region {
  background-color: #E0E0D8;
  border: #CCC 1px solid;
  padding: 10px;
}
#dashboard #disabled-blocks h2 {
  display: inline;
  font-weight: normal;
  white-space: nowrap;
}
#dashboard #disabled-blocks .block {
  background: #444;
  color: #FFF;
}
#dashboard.customize-inactive #disabled-blocks .block:hover {
  background: #0074BD;
}
#dashboard #disabled-blocks .block-placeholder {
  height: 1.6em;
  width: 30px;
}
#dashboard #disabled-blocks .block .content,
#dashboard .ui-sortable-helper .content {
  display: none;
}
#dashboard .ui-sortable .block {
  cursor: move;
  min-height: 1px;
}
#dashboard .ui-sortable .block h2 {
  background: transparent url(../../misc/draggable.png) no-repeat 0px -39px;
  padding: 0 17px;
}
#dashboard.customize-inactive #disabled-blocks .block:hover h2 {
  background: #0074BD url(../../misc/draggable.png) no-repeat 0px -39px;
  color: #FFF;
}
#dashboard.customize-inactive .dashboard-region .ui-sortable .block:hover h2 {
  background: #0074BD url(../../misc/draggable.png) no-repeat 3px -36px;
  color: #FFF;
}

/* @end */

/* @group dblog */

.form-item-type,
.form-item-severity {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
#dblog-filter-form .form-type-select select {
  width: 100%;
}
#dblog-filter-form .form-actions {
  float: left;
  padding: 3ex 0 0 1em;
}

tr.dblog-user {
  background: #ffd;
}
tr.dblog-user .active {
  background: #eed;
}
tr.dblog-content {
  background: #ddf;
}
tr.dblog-content .active {
  background: #cce;
}
tr.dblog-page-not-found,
tr.dblog-access-denied {
  background: #dfd;
}
tr.dblog-page-not-found .active,
tr.dblog-access-denied .active {
  background: #cec;
}
tr.dblog-error {
  background: #ffc9c9;
}
tr.dblog-error .active {
  background: #eeb9b9;
}
table#admin-dblog td.icon {
  background: no-repeat center;
  width: 16px;
}
table#admin-dblog tr.dblog-warning td.icon {
  background-image: url(../../misc/message-16-warning.png);
}
table#admin-dblog tr.dblog-error td.icon,
table#admin-dblog tr.dblog-critical td.icon,
table#admin-dblog tr.dblog-alert td.icon,
table#admin-dblog tr.dblog-emerg td.icon {
  background-image: url(../../misc/message-16-error.png);
}

/* @end */

/* @group field */
/* @end */

/* @group field_ui */
 
/* 'Manage fields' and 'Manage display' overviews */
table.field-ui-overview tr.add-new .label-input {
  float: left; /* LTR */
}
table.field-ui-overview tr.add-new .tabledrag-changed {
  display: none;
}
table.field-ui-overview tr.add-new .description {
  margin-bottom: 0;
}
table.field-ui-overview tr.add-new .add-new-placeholder {
  font-weight: bold;
  padding-bottom: .5em;
}
table.field-ui-overview tr.region-title td {
  font-weight: bold;
}
table.field-ui-overview tr.region-message td {
  font-style: italic;
}
table.field-ui-overview tr.region-populated {
  display: none;
}
table.field-ui-overview tr.region-add-new-title {
  display: none;
}

/* 'Manage display' overview */
#field-display-overview .field-formatter-summary-cell {
  line-height: 1em;
}
#field-display-overview .field-formatter-summary {
  float: left;
  font-size: 0.9em;
}
#field-display-overview td.field-formatter-summary-cell span.warning {
  display: block;
  float: left;
  margin-right: .5em;
}
#field-display-overview .field-formatter-settings-edit-wrapper {
  float: right;
}
#field-display-overview .field-formatter-settings-edit {
  float: right;
}
#field-display-overview tr.field-formatter-settings-editing td {
  vertical-align: top;
}
#field-display-overview tr.field-formatter-settings-editing .field-formatter-type {
  display: none;
}
#field-display-overview .field-formatter-settings-edit-form .formatter-name{
  font-weight: bold;
}
#field-ui-display-overview-form #edit-refresh {
  display:none;
}

/* @end */

/* @group file */

.form-managed-file .form-file,
.form-managed-file .form-submit {
  margin: 0;
}
.form-managed-file input.progress-disabled {
  display: inline;
  float: none;
}
.form-managed-file div.ajax-progress-bar {
  display: none;
  margin-top: 4px;
  padding: 0;
  width: 28em;
}
.form-managed-file div.ajax-progress-bar div.bar {
  margin: 0;
}

/* @end */

/* @group filter */

.text-format-wrapper .form-item {
  margin-bottom: 0;
}
.filter-wrapper {
  border-top: 0;
  margin: 0;
  padding: 1.5em 0 1.5em;
}
.filter-wrapper .form-item {
  float: left;
  padding: 0 0 0.5em 1.5em;
}
.filter-wrapper .form-item label {
  display: inline;
}
.filter-help {
  float: right;
  padding: 0 1.5em 0.5em;
}
.filter-help p {
  margin: 0;
}
.filter-help a {
  background: transparent url(../../misc/help.png) right center no-repeat;
  padding: 0 20px;
}
.filter-guidelines {
  clear: left;
  padding: 0 1.5em;
}
.text-format-wrapper .description {
  margin-top: 0.5em;
}

#filter-order tr .form-item {
  padding: 0.5em 0 0 3em;
  white-space: normal;
}
#filter-order tr .form-type-checkbox .description {
  padding: 0 0 0 2.5em;
}
input#edit-filters-filter-html-settings-allowed-html {
  width: 100%;
}

.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}

/* @end */

/* @group forum */
/* @end */

/* @group help */
/* @end */

/* @group image */

div.image-style-new,
div.image-style-new div {
  display: inline;
}
div.image-style-preview div.preview-image-wrapper {
  float: left;
  padding-bottom: 2em;
  text-align: center;
  top: 50%;
  width: 48%;
}
div.image-style-preview div.preview-image {
  margin: auto;
  position: relative;
}
div.image-style-preview div.preview-image div.width {
  border: 1px solid #666;
  border-top: none;
  height: 2px;
  left: -1px;
  bottom: -6px;
  position: absolute;
}
div.image-style-preview div.preview-image div.width span {
  position: relative;
  top: 4px;
}
div.image-style-preview div.preview-image div.height {
  border: 1px solid #666;
  border-left: none;
  position: absolute;
  right: -6px;
  top: -1px;
  width: 2px;
}
div.image-style-preview div.preview-image div.height span {
  height: 2em;
  left: 10px;
  margin-top: -1em;
  position: absolute;
  top: 50%;
}

/**
 * Image anchor element.
 */
table.image-anchor {
  width: auto;
}
table.image-anchor tr.even,
table.image-anchor tr.odd {
  background: none;
}
table.image-anchor td {
  border: 1px solid #CCC;
}


/* @end */

/* @group menu */

.menu-operations {
  width: 100px;
}

.menu-enabled {
  width: 70px;
}

.menu-enabled input {
  margin-left:25px;
}

/* @end */

/* @group node */
/* @end */

/* @group openid */
/* @end */

/* @group overlay */

.js {
  background: transparent !important;
  overflow-y: scroll;
}
.js body {
  background: transparent !important;
  margin-left: 0;
  margin-right: 0;
  padding: 20px 0;
}

#overlay {
  display: table;
  margin: 0 auto;
  min-height: 100px;
  min-width: 700px;
  position: relative;
  padding: .2em;
  padding-bottom: 2em;
  padding-right: 26px; /* LTR */
  width: 88%;
}
#overlay-titlebar {
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  z-index: 100;
}
#overlay-content {
  background: #fff;
  clear: both;
  color: #000;
  padding: .5em 1em;
  position: relative;
}

#overlay-title-wrapper {
  overflow: hidden;
}
#overlay-title {
  color: #fff;
  float: left; /* LTR */
  font-size: 20px;
  margin: 0;
  padding: 0.3em 0;
}
#overlay-title:active,
#overlay-title:focus {
  outline: 0;
}

.overlay #skip-link {
  margin-top: -20px;
}
.overlay #skip-link a {
  color: #fff; /* This is white to contrast with the dark background behind it. */
}

#overlay-close-wrapper {
  position: absolute;
  right: 0; /* LTR */
}
#overlay-close,
#overlay-close:hover {
  background: transparent url(images/close.png) no-repeat; /* LTR */
  -moz-border-radius-topleft: 0; /* LTR */
  border-top-left-radius: 0; /* LTR */
  display: block;
  height: 26px;
  margin: 0;
  padding: 0;
  /* Replace with position:fixed to get a scrolling close button. */
  position: absolute;
  width: 26px;
}

/**
 * Tabs on the overlay.
 */
#overlay-tabs {
  line-height: 27px;
  margin: -28px 0 0 0;
  position: absolute;
  right: 20px; /* LTR */
  text-transform: uppercase;
}
#overlay-tabs li {
  display: inline;
  list-style: none;
  margin: 0 0 0 -3px; /* LTR */
  padding: 0;
}
#overlay-tabs li a,
#overlay-tabs li a:active,
#overlay-tabs li a:visited,
#overlay-tabs li a:hover {
  background-color: #a6a7a2;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  color: #000;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin: 0 0 2px 0;
  outline: 0;
  padding: 0 14px;
  text-decoration: none;
}
#overlay-tabs li.active a,
#overlay-tabs li.active a.active,
#overlay-tabs li.active a:active,
#overlay-tabs li.active a:visited {
  background-color: #fff;
  margin: 0;
  padding-bottom: 2px;
}
#overlay-tabs li a:focus,
#overlay-tabs li a:hover {
  color: #fff;
}
#overlay-tabs li.active a:focus,
#overlay-tabs li.active a:hover {
  color: #000;
}

/**
 * Add to shortcuts link
 */
#overlay-titlebar .add-or-remove-shortcuts {
  padding-top: 0.9em;
}

/**
 * Disable message.
 */
#overlay-disable-message {
  background-color: #fff;
  margin: -20px auto 20px;
  width: 80%;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.overlay-disable-message-focused {
  padding: 0.5em;
}
.overlay-disable-message-focused a {
  display: block;
  float: left;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  float: right;
}

/* @end */

/* @group shortcut */

.shortcut-slot-hidden {
  display: none;
}

div.form-item-set div.form-item-new {
  display: inline;
}

/* @end */

/* @group simpletest */
/* @end */

/* @group statistics */
/* @end */

/* @group syslog */
/* @end */

/* @group system */

/**
 * Administration blocks.
 */
div.admin-panel {
  margin: 0;
  padding: 5px 5px 15px 5px;
}
div.admin-panel .description {
  margin: 0 0 3px;
  padding: 2px 0 3px 0;
}
div.admin-panel .body {
  padding: 0 4px 2px 8px; /* LTR */
}
div.admin {
  padding-top: 15px;
}
div.admin .left {
  float: left; /* LTR */
  width: 47%;
  margin-left: 1em; /* LTR */
}
div.admin .right {
  float: right; /* LTR */
  width: 47%;
  margin-right: 1em; /* LTR */
}
div.admin .expert-link {
  text-align: right; /* LTR */
  margin-right: 1em; /* LTR */
  padding-right: 4px; /* LTR */
}

/**
 * Markup generated by theme_system_compact_link().
 */
.compact-link {
  margin: 0 0 0.5em 0;
}

/**
 * Quick inline admin links.
 */
small .admin-link:before {
  content: '[';
}
small .admin-link:after {
  content: ']';
}

/**
 * Modules page.
 */
#system-modules div.incompatible {
  font-weight: bold;
}
div.admin-requirements,
div.admin-required {
  font-size: 0.9em;
  color: #444;
}
span.admin-disabled {
  color: #800;
}
span.admin-enabled {
  color: #080;
}
span.admin-missing {
  color: #f00;
}
a.module-link {
  display: block;
  padding: 1px 0 1px 20px; /* LTR */
  white-space: nowrap;
}
a.module-link-help {
  background: url(../../misc/help.png) 0 50% no-repeat; /* LTR */
}
a.module-link-permissions {
  background: url(../../misc/permissions.png) 0 50% no-repeat; /* LTR */
}
a.module-link-configure {
  background: url(../../misc/configure.png) 0 50% no-repeat; /* LTR */
}
.module-help {
  margin-left: 1em; /* LTR */
  float: right; /* LTR */
}

/**
 * Status report.
 */
table.system-status-report td {
  padding: 6px;
  vertical-align: middle;
}
table.system-status-report tr.merge-up td {
  padding: 0 6px 8px 28px; /* LTR */
}
table.system-status-report td.status-icon {
  width: 16px;
  padding-right: 0; /* LTR */
}
table.system-status-report td.status-icon div {
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}
table.system-status-report tr.error td.status-icon div {
  background-image: url(../../misc/message-16-error.png);
}
table.system-status-report tr.warning td.status-icon div {
  background-image: url(../../misc/message-16-warning.png);
}
tr.merge-down,
tr.merge-down td {
  border-bottom-width: 0 !important;
}
tr.merge-up,
tr.merge-up td {
  border-top-width: 0 !important;
}

/**
 * Theme settings.
 */
.theme-settings-left {
  float: left;
  width: 49%;
}
.theme-settings-right {
  float: right;
  width: 49%;
}
.theme-settings-bottom {
  clear: both;
}

/**
 * Appearance page.
 */
table.screenshot {
  margin-right: 1em; /* LTR */
}
.theme-info h2 {
  margin-bottom: 0;
}
.theme-info p {
  margin-top: 0;
}
.system-themes-list {
  margin-bottom: 20px;
}
.system-themes-list-disabled {
  border-top: 1px solid #cdcdcd;
  padding-top: 20px;
}
.system-themes-list h2 {
  margin: 0;
}
.theme-selector {
  padding-top: 20px;
}
.theme-selector .screenshot,
.theme-selector .no-screenshot {
  border: 1px solid #e0e0d8;
  padding: 2px;
  vertical-align: bottom;
  width: 294px;
  height: 219px;
  line-height: 219px;
  text-align: center;
}
.theme-default .screenshot {
  border: 1px solid #aaa;
}
.system-themes-list-enabled .theme-selector .screenshot,
.system-themes-list-enabled .theme-selector .no-screenshot {
  float: left; /* LTR */
  margin: 0 20px 0 0; /* LTR */
}
.system-themes-list-disabled .theme-selector .screenshot,
.system-themes-list-disabled .theme-selector .no-screenshot {
  width: 194px;
  height: 144px;
  line-height: 144px;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}
.system-themes-list-disabled .theme-selector {
  width: 300px;
  float: left; /* LTR */
  padding: 20px 20px 20px 0; /* LTR */
}
.system-themes-list-enabled .theme-info {
  max-width: 940px;
}
.system-themes-list-disabled .theme-info {
  min-height: 170px;
}
.theme-selector .incompatible {
  margin-top: 10px;
  font-weight: bold;
}
.theme-selector .operations {
  margin: 10px 0 0 0;
  padding: 0;
}
.theme-selector .operations li {
  float: left; /* LTR */
  margin: 0;
  padding: 0 0.7em;
  list-style-type: none;
  border-right: 1px solid #cdcdcd;  /* LTR */
}
.theme-selector .operations li.last {
  padding: 0 0 0 0.7em; /* LTR */
  border-right: none; /* LTR */
}
.theme-selector .operations li.first {
  padding: 0 0.7em 0 0; /* LTR */
}
#system-themes-admin-form {
  clear: left;
}

/**
 * Exposed filters.
 */
.exposed-filters .filters {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
}
.exposed-filters .form-item {
  margin: 0 0 0.1em 0;
  padding: 0;
}
.exposed-filters .form-item label {
  float: left; /* LTR */
  font-weight: normal;
  width: 10em;
}
.exposed-filters .form-select {
  width: 14em;
}
/* Current filters */
.exposed-filters .current-filters {
  margin-bottom: 1em;
}
.exposed-filters .current-filters .placeholder {
  font-style: normal;
  font-weight: bold;
}
.exposed-filters .additional-filters {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
}

/* @end */

/* @group update */

.update .project {
  font-weight: bold;
  font-size: 110%;
  padding-left: .25em; /* LTR */
  height: 22px;
}

.update .version-status {
  float: right; /* LTR */
  padding-right: 10px; /* LTR */
  font-size: 110%;
  height: 20px;
}

.update .version-status .icon {
  padding-left: .5em; /* LTR */
}

.update .version-date {
  white-space: nowrap;
}

.update .info {
  margin: 0;
  padding: 1em 1em .25em 1em;
}

.update tr.even,
.update tr.odd {
  border: none;
}

.update tr td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.update tr.error {
  background: #fcc;
}

.update tr.error .version-recommended {
  background: #fdd;
}

.update tr.ok {
  background: #dfd;
}

.update tr.warning {
  background: #ffd;
}

.update tr.warning .version-recommended {
  background: #ffe;
}

.current-version,
.new-version {
  direction: ltr; /* Note: version numbers should always be LTR. */
}

.update tr.unknown {
  background: #ddd;
}

table.update,
.update table.version {
  width: 100%;
  margin-top: .5em;
  border: none;
}

.update table.version tbody {
  border: none;
}

.update table.version tr,
.update table.version td {
  line-height: .9em;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.update table.version .version-title {
  padding-left: 1em; /* LTR */
  width: 14em;
}

.update table.version .version-details {
  padding-right: .5em; /* LTR */
}

.update table.version .version-links {
  text-align: right; /* LTR */
  padding-right: 1em; /* LTR */
}

.update table.version-security .version-title {
  color: #970F00;
}

.update table.version-recommended-strong .version-title {
  font-weight: bold;
}

.update .security-error {
  font-weight: bold;
  color: #970F00;
}

.update .check-manually {
  padding-left: 1em; /* LTR */
}

.update-major-version-warning {
  color: #ff0000;
}

table tbody tr.update-security,
table tbody tr.update-unsupported {
  background: #fcc;
}

th.update-project-name {
  width: 50%;
}

/* @end */